# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/

# MLflow
mlruns/
mlflow.db

# Logs
events_log.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Docker
*.log